<h1 mat-dialog-title>Instrucciones para la pantalla</h1>
<div mat-dialog-content>
  <ul>
    <li>El marcador azul es la referencia del punto.</li>
    <li>El marcador negro es punto donde va a pasar la ruta.</li>
    <li>Al dar click sobre el marcador negro se muestra el numero de punto.</li>
    <li>Los números del marcador negro son secuanciales, segun se vaya creando.</li>
    <li>Puede ir dibujando la ruta para conocer la secuencia.</li>
  </ul>
  <p>{{ mensaje }}</p>
</div>
<div mat-dialog-actions>
  <button class="btn btn-success" (click)="onNoClick()">Continuar</button>
</div>